<%= form_for(@pollution_event) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :description, 'Description' %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :event_lat, 'Latitude' %>
      <%= f.text_field :event_lat %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :event_lng, 'Longitude' %>
      <%= f.text_field :event_lng %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Update Event" %>
    </div>
  </div>
<%end%>
