<div class="form-canvas-trigger">
  <% if user_signed_in? %>
  <a href='#step-3' id='canvas-form' class='icon paint button quiet float-right'>
    Add Event
  </a>
  <% end %>
  <div id='step-3' class='row13 col5 pad2 fill-darken3 pin-left offcanvas-left animate'>
    <%= form_for(@pollution_event) do |f| %>
    <a href='#' id="close-button" class='fill-darken0 pad1 icon close'></a>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address %>
    <%= f.label :event_lat, 'Latitude' %>
    <%= f.text_field :event_lat %>
    <%= f.label :event_lng, 'Longitude' %>
    <%= f.text_field :event_lng %>
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>
    <%= f.label :url, 'Url' %>
    <%= f.text_area :url %>
    <%= f.submit "Create Event", class: "button" %>
    <%end%>
  </div>
</div>
