<div class="top-bar">
  <div class="top-bar-left">
    <h3 class="site-logo"style="color:white;"><%= link_to "Breakable Toy", root_path %></h3>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
      <% if user_signed_in? %>
      <a href="#"><%= current_user.username %></a>
      <ul class="menu vertical">
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </li>
    </ul>
  </div>
</div>
<div class="flash">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
