
<!DOCTYPE html>
<html>
<head>
  <title>StartSnitching</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <div class="top-bar">
    <div class="top-bar-title small-12 medium-5 columns">
    </div>
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <div class="admin-only">

      </div>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> /
        <%= link_to "Edit Profile", edit_user_registration_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> /
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
  </div>

  <div class="row columns flash">
   <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
   <% end %>
  </div>

<%= yield %>

</body>
</html>
